.sidebar {
  box-shadow: 10px 0px 50px 0px #0000000d;
  background-color: #5b5ce2;
  width: 96px;
  gap: 0px;
  opacity: 0px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  img {
    width: 32px;
    height: 31.68px;
    top: 29.7px;
    left: 33px;
    gap: 0px;
    opacity: 0px;
    margin-left: 30px;
    margin-top: 30px;
    cursor: pointer;
  }
}
